.calculator {
    border: 1.5px solid #6c1b1b;
    border-radius: 2px;
    width: 400px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.inputInfo {
    border: 2px solid #f3f0f0;
    border-radius: 1px;
    height: 55px;
    background-color: #6c6666;
    color: #a6b0b0;
    font-size: 22px;
    text-align: end;
    width: 99%;
    border-bottom: none;
    flex-direction: column;
}
